<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/experience">Experience</a></li>
<li><a href="/books">Books</a></li>
<li><a href="/articles">Articles</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:kaliyur.sanjay@gmail.com">Email</a></li>
   <li><a href="https://www.linkedin.com/in/sanjaykaliyur/">LinkedIn</a></li>
   <li><a href="https://twitter.com/sanjaykaliyur">Twitter</a></li>
   <li><a href="https://github.com/sanjaykaliyur">Github</a></li>
   </ul>
  </footer>
  </body>

</html>
